<?xml version="1.0" encoding="utf-8"?>
<!--
この名前空間を追加して
xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
IgnorableNamespaces に以下のように rescap も追加
IgnorableNamespaces="uap mp rescap"
-->
<!--<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">-->
<Package 
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap mp rescap">
  <Identity
    Name="14599dcc-3112-460f-8a96-f8af8496abae"
    Publisher="CN=simesaba"
    Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="14599dcc-3112-460f-8a96-f8af8496abae" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
  <Properties>
    <DisplayName>GraphPaper</DisplayName>
    <PublisherDisplayName>simesaba</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="GraphPaper.App">
      <uap:VisualElements DisplayName="GraphPaper" Description="Project for a single page C++/WinRT Universal Windows Platform (UWP) app with no predefined layout"
        Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
		</Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <!-- これを追加 -->
    <rescap:Capability Name="confirmAppClose" />
    <!-- さらに追加 -->
	<rescap:Capability Name="broadFileSystemAccess" />
  </Capabilities>
</Package>